@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

@font-face {
	font-family: poppins;
	src: url("../poppins/Poppins-Light.ttf");
}

* {
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
        background: #333333;
}

ul,
li {
	list-style: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ha,
h2,
h3,
h4,
h5,
h6 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

:root {
	--main-bg-color: #c60c30;
}

.section-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

body {
	font-family: "Poppins", sans-serif;
	background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

p {
	font-size: 16px;
	line-height: 26px;
	text-align: justify;

	color: #333333;
}

a,
a:hover {
	color: #333333;
}

#wrapper {
    
	margin: 0px auto;
	box-shadow: 0 1px 3px #685c4c;
        
}

#main-header {
	background: #ffffff;
}

#main-header-top {
	border-bottom: 1px solid #eee;
}

#main-header-bottom {
	border-bottom: var(--main-bg-color) solid 3px;
}

#main-container {
	margin-top: 120px;
	padding-top: 15px;
}

#main-footer {
	border-top: var(--main-bg-color) solid 3px;
}

#main-footer-top {
	background: #222222;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main-footer-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #000000;
}

#logo {
	color: var(--main-bg-color);
	font-family: "Voltaire", sans-serif;
}

#news-ticker {
	background: var(--main-bg-color);
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
}

#news-ticker a {
	color: #ffffff;
	text-decoration: none;
}

#top-ads-carousel {
	height: 350px;
}

button {
	background: var(--main-bg-color);
}

input[type="submit"] {
	background: var(--main-bg-color);
}

ul.top-link {
}

ul.top-link > li {
	font-size: 14px;
	border-right: 1px solid #eee;
}

ul.top-link > li:first-child {
	border-left: 1px solid #eee;
}

ul.top-link > li a {
	color: var(--main-bg-color);
	display: block;
}

ul.top-link > li a:hover {
	color: #ffffff;
	background: var(--main-bg-color);
}

ul.top-link > li a.active {
	background: var(--main-bg-color);
	color: #ffffff;
}

ul.top-link > li a.active:hover {
	color: #ffffff;
	background: #d7a92d;
}

.footer-widget {
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer-widget-header {
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
}

.footer-widget-body {
	color: #888888;
	padding-top: 15px;
}

.footer-widget-body p {
	color: #888888;
	font-size: 14px;
	line-height: 20px;
}
.footer-widget-body a {
	color: #888888;
}

.footer-widget-body ul {
	padding: 0px;
}

.footer-widget-body li {
	color: #888888;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}

.site-info {
	
	font-family: "Gotu", sans-serif;
}
.site-info > a {
	color: #ffffff;

	font-size: 14px;
	line-height: 14px;
}


.card.news {
	border: 0px;
	border-bottom: #f0f0f0 solid 1px;
        
}

.card.news > .card-img-top 
{
    border-radius: 20px;
}

.card.latest-news {
	border: 0px;
	border-bottom: #f0f0f0 solid 1px;
}
